.devcontainer/**
.github/**
.vscode/**
.vscode-test/**
src/**
test-workspace/**
src/test/**
.gitignore
.vscodeignore
package-lock.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
